# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Firebase service account (sensitive)
firebase-service-account.json

# Logs
*.log

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store

# pyenv
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.swp
*.swo
